body {
    padding: 0;
    margin: 0;
    background: radial-gradient(circle at top left, #160a1b, #160718);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2.6rem;
}

#album-rotator {
    width: 1400px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    word-break: keep-all;
    padding: 2rem 0;
}
#album-rotator-holder {
    position: relative;
    user-select: none;
    will-change: transform;
    /* transition: all 0.01s ease-out; */
    /* transition: all 0.01s linear; */
}

#album-rotator:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(-90deg, #160718 5%, transparent 40%);
}
.album-item {
    word-break: keep-all;
    background: black;
    box-shadow: 0 2px 30px rgba(0,0,0,0.5);
    position: relative;
    width: 250px;
    -webkit-user-drag: none;
    height: 300px;
    user-select: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: 0 3rem 0 0;
    transition: all 0.2s ease-out;
    transform: scale(1);
}

.album-item:hover {
    transform: scale(1.02);
}
.album-details {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-shadow: 0 2px 15px rgba(0,0,0,0.5);
    padding: 1rem;
    white-space: initial;
    float: left;
    box-sizing: border-box;
    color: white;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    z-index: 99;
}
.title {
    font-weight: 900;
    display: inline-block;
    width: 100%;
}
.subtitle {
    font-weight: 100;
    line-height: 1.25rem;
}
.subtext {
    font-size: 1.1167rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.25rem 1rem;
    width: 100%;
    white-space: initial;
    letter-spacing: 0;
    box-sizing: border-box;
    font-weight: 400;
}
.icon {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    padding: 0 0 0.5rem 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0;
    font-weight: 600;
    text-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.click{
    margin-top: 48px;
}
.button{
    background-color: #fff;
    color: #161231;
    text-decoration: none;
    padding: 1em 4em;
    font-size: 1.2rem;
    border-radius:1em;
    transition: all 0.2ms;
}
.item{
    background-color: #fff;
    color: #161231;
    text-decoration: none;
    font-size: 16px;
    border-radius:2em;
    height:32px;
    width: 32px;
    text-align: center;
    transition: all 0.2ms;
}
.item:hover{
    background-color: rgb(218, 186, 255);
    color: #150030;
}
.button:hover {
    padding: 1.02em 4.04em;
    font-size: 1.21rem;
    background-color: rgb(218, 186, 255);
    color: #150030;
}