@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: auto auto;
    max-width: 1200px;
}

body {
    margin: 0 20px;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 120px;
}

.header__name {
    position: relative;
    margin: auto auto;
}

.header__logo {
    position: fixed;
}

.main {
    display: flex;
    height: calc(100vh - 120px - 60px - 48px - 40px);
    align-items: center;
    justify-content: center;
    margin: 24px;
}

.weather {
    padding: 16px 34px 34px 34px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 8px rgba(23, 23, 24, 0.048);
    border: 1px solid #000;
}

.weather__text {
    padding: 8px 18px;
    margin: 0;
    border-left: 1.6px solid #000;
}

.footer {
    margin-top: 40px;
    height: 80px;
}

.footer__text {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}